<% include _layouts/header %>
<!--class="row products container_products" id="cat-pro"-->

    <div id="all_products">
        <div class="row products" id="container_top">
    
            <% fav.forEach(function(p){ %>
                   <div class="col-12 col-md-3 col-lg-3 col-xs-6" id="container_allproducts">
                    <div class="card card_size">
    
    
                        <div class="img-container">
                         <p class="dis"style="font-weight: bold; font-family: 'Oswald';">Discout: Ksh<%= p.discount %></p>
                      
                             <img class="card-img-top img-responsive"src="<%= p.image %>" alt="">
                         </a>
                        </div>
    
    
                        <div class="card-footer d-flex justify-content-between">
                         <h6 style="font-weight: bold; font-family: 'Oswald';"><%= p.title %></h6>
                        </div>
                        
    
                        <div>
                             <h4 style="font-family: 'Roboto Slab';">Ksh <%= p.price %></h4>
                             <h5 style="font-family: 'Roboto Slab';"><strike class="strike">Ksh <%= p.price_off %></Ksh></strike></h5>
                         </div>
                        
                         
                    </div>
                   </div>
                       
                   
                   
                <% }); %>
            
        </div>
    </div>

    <% include _layouts/footer %>
