<%- include('_layouts/header') -%>

<div id="container_one" class="index_move">
    <!--CATEGORIES CONTAINER-->
    <div class="index_categories">
        
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/products/all-products">MeshMall</a></li>
                        <% categories.forEach(function(c){ %>
                            <li class="list-group-item"><a href="/products/<%= c.slug %>"><%= c.title %></a></li>
                        <% }); %>
                    </ul>
    </div>
    <!--Slider ADVERTS-->
   <div>
       <!--INDEX QUICK SEARCH-->
       <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Quick Search ... <span><i class="fa fa-search"></i></span></button>
        <div id="myDropdown" class="dropdown-content">
          <input type="text" placeholder="Search by Categories" id="myInput" onkeyup="filterFunction()">
          <a href="/valentine">Valentine</a>
          <a href="/grocery">Grocery</a></a>
          <a href="/babyproduct">Baby Products</a>
          <a href="/beauty">Makeups & Beauty</a>
          <a href="/jewelleries">Jewellery</a>
          <a href="/sports">Sport</a>
          <a href="/women">Women Fashion</a>
          <a href="/muslim">Muslim Fashion</a>
          <a href="/men">Men Fashion</a>
          <a href="/phones">Phones & Tablets</a>
          <a href="/entertain">Entertainment</a>
          <a href="/home">Home Assests</a>
          <a href="/electrical">Electrical</a>
          <a href="/laptop">laptops</a>
          <a href="/shoppingbags">Shopping Bags </a>
          <a href="/bear">Beer, Wine & Spirits</a>
          <a href="/pets">Pets & domestic</a>
          <a href="/golf">Golf & Fishing</a>
          <a href="/birthday">Birthday Gifts</a>
          <a href="/camera">Camera & Watches</a>
          <a href="/bookshop">School & Bookshop</a>
          <a href="/furniture">Furnitures</a>
          <a href="/office">Office</a>
          <a href="/sanitary">Sanitary</a>
        </div>
      </div> 

      <!--END-->
    <div id="show-case">
        <div class="imgslider1"><a href="#">
            <p><img class="img-responsive" src="/assests/ad1.png"/> </p>
            <span>Shop Now <i class="fa fa-cart-plus"></i></span>
            </a>
        </div>
        
        <div class="imgslider1"><a href="#">
            <p><img class="img-responsive" src="/assests/grocery.jpg"/></p>
            <span>Shop Now <i class="fa fa-cart-plus"></i></span>
            </a>
        </div>
  
        <div class="imgslider1"><a href="#">
            <p><img class="img-responsive" src="/assests/ad2.jpg"/></p>
            <span>Shop Now <i class="fa fa-cart-plus"></i></span>
        </a></div>
  
        <div class="imgslider1"><a href="#">
            <p><img class="img-responsive" src="https://i.postimg.cc/sfHmVjfD/7.jpg"/></p>
            <span>Shop Now <i class="fa fa-cart-plus"></i></span>
        </a></div>
  
        <div class="imgslider1"><a href="#">
            <p><img class="img-responsive" src="/assests/ad3.jpg"/></p>
            <span>Shop Now <i class="fa fa-cart-plus"></i></span>
        </a></div>
  
        <div class="imgslider1"><a href="#">
            <p><img class="img-responsive" src="https://i.postimg.cc/y8m0SsKR/4.jpg"/></p>
            <span>Shop Now <i class="fa fa-cart-plus"></i></span>
        </a></div>
    </div>
   </div>
    <!--HOME PAGE LINKS ON MENU-->
    <div id="links-1st">
        <div><a href="#"> <i class="fa fa-car" aria-hidden="true"></i> Quick Delivery</a></div>
        <div><a href="#"> <i class="fa fa-first-order" aria-hidden="true"></i> Quality Products</a></div>
        <div><a href="#"> <i class="fa fa-exchange" aria-hidden="true"></i> Easy Return</a></div>
    </div>
</div>

<!--SECOND CONTAINER-->
<div id="index-sec">
    <div class="index-icons2">
        <p class="index2-p"><a href="#"><i class="fa fa-shopping-bag index2-icon" aria-hidden="true"></i></a></p>
        <p><a href="/products/all-products">MeshMall</a></p>
    </div>

    <div class="index-icons2">
        <p class="index2-p1"><a href="#"><i class="fa fa-car index2-icon" aria-hidden="true"></i></a></p>
        <p><a href="#">Free Delivery</a></p>
    </div>

    <div class="index-icons2">
        <p class="index2-p2"><a href="#"><i class="fa fa-percent index2-icon" aria-hidden="true"></i>        </a></p>
        <p><a href="#">Offers</a></p>
    </div>

    <div class="index-icons2">
        <p class="index2-p3"><a href="#"><i class="fa fa-building index2-icon" aria-hidden="true"></i> </a></p>
        <p><a href="#">Mombasa</a></p>
    </div>
</div>


<!--CONTAINER THREE FEATURED PRODUCTS-->

    
    <div class="featured-prod">
        <div class="featured_text">Featured Products</div>
        <div id="spacer"></div>
        <div id="featured_a"><a  href="/products/all-products">See all <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
    </div>
    <div class="container_index">
        <% products.forEach(function(p){ %>
            
                <div class="card card_size">
 
 
                    <div class="img-container">
                     <p class="dis"style="font-weight: bold; font-family: 'Oswald';">Discout: Ksh<%= p.discount %></p>
                    <a class="pa"  href="/products/<%= p.category %>/<%= p.slug %>">
                         <img class="card-img-top img-responsive"src="/product_images/<%= p.id %>/<%= p.image %>" alt="">
                     </a>
                    </div>
 
 
                    <div class="card-footer d-flex justify-content-between">
                     <h6 style="font-weight: bold; font-family: 'Oswald';"><%= p.title %></h6>
                    </div>
                    
 
                    <div>
                         <h4 style="font-family: 'Roboto Slab';">Ksh <%= p.price %></h4>
                         <h5 style="font-family: 'Roboto Slab';"><strike class="strike">Ksh <%= p.price_off %></Ksh></strike></h5>
                    </div>
                </div>
            
         <% }); %>
     
    </div>

  
    <!--CONTAINER FOUR 
        
        FEATURED CATEGORIES ICONS-->

  <div id="container_4th">
      <p class="text_4th">Featured Categories</p>
      <div id="indexcat_icons">

        <div class="items_4th card">
            <p><a href="/valentine"> <img class="card-img-top2" src="/icons/love.svg"/></a></p>
            <p><a href="/valentine">Valentine</a></p>
        </div>
        
        <div class="items_4th card">
            <p><a href="/grocery"> <img class="card-img-top2" src="/icons/grocery.jpg"/></a></p>
            <p><a href="/grocery">Grocery</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/babyproduct"> <img class="card-img-top2" src="/icons/baby.svg"/></a></p>
            <p><a href="/babyproduct">Baby Products</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/beauty"> <img class="card-img-top2" src="/icons/Makeup.svg"/></a></p>
            <p><a href="/beauty">Makeups & Beauty</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/jewelleries"> <img class="card-img-top2" src="/icons/jewely.svg"/></a></p>
            <p><a href="/jewelleries">Jewellery</a></p>
        </div>
        
        <div class="items_4th card">
            <p><a href="/sports"> <img class="card-img-top2" src="/icons/sport.jpg"/></a></p>
            <p><a href="/sports">Sport</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/women"> <img class="card-img-top2" src="/icons/women.svg"/></a></p>
            <p><a href="/women">Women Fashion</a></p>
        </div>
        
        <div class="items_4th card">
            <p><a href="/muslim"> <img class="card-img-top2" src="/icons/muslim1.jpeg"/></a></p>
            <p><a href="/muslim">Muslim Fashion</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/men"> <img class="card-img-top2" src="/icons/men.png"/></a></p>
            <p><a href="/men">Men Fashion</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/phones"> <img class="card-img-top2" src="/icons/phones.png"/></a></p>
            <p><a href="/phones">Phones & Tablets</a></p>
        </div>


        <div class="items_4th card">
            <p><a href="/entertain"> <img class="card-img-top2" src="/icons/entertainment.svg"/></a></p>
            <p><a href="/entertain">Entertainment</a></p>
        </div>
        
        <div class="items_4th card">
            <p><a href="/home"> <img class="card-img-top2" src="/icons/home.jpg"/></a></p>
            <p><a href="/home">Home Assests</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/electrical"> <img class="card-img-top2" src="/icons/electricals.svg"/></a></p>
            <p><a href="/electrical">Electrical</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/laptop"> <img class="card-img-top2" src="/icons/index.png"/></a></p>
            <p><a href="/laptop">laptops</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/"> <img class="card-img-top2" src="/icons/Purses.svg"/></a></p>
            <p><a href="/">Women Purses</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/shoppingbags"> <img class="card-img-top2" src="/icons/Shopping_bags.svg"/></a></p>
            <p><a href="/shoppingbags">Shopping Bags </a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/bear"> <img class="card-img-top2" src="/icons/wines_spirits.svg"/></a></p>
            <p><a href="/bear">Beer, Wine & Spirits</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/pets"> <img class="card-img-top2" src="/icons/pet.svg"/></a></p>
            <p><a href="/pets">Pets & domestic</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/golf"> <img class="card-img-top2" src="/icons/fishing&Golf.svg"/></a></p>
            <p><a href="/golf">Golf & Fishing</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/birthday"> <img class="card-img-top2" src="/icons/birthday.svg"/></a></p>
            <p><a href="/birthday">Birthday Gifts</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/camera"> <img class="card-img-top2" src="/icons/camera&watchs.svg"/></a></p>
            <p><a href="/camera">Camera & Watches</a></p>
        </div>

        
        <div class="items_4th card">
            <p><a href="/bookshop"> <img class="card-img-top2" src="/icons/bookshop.png"/></a></p>
            <p><a href="/bookshop">School & Bookshop</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/furniture"> <img class="card-img-top2" src="/icons/furniture.png"/></a></p>
            <p><a href="/furniture">Furnitures</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/office"> <img class="card-img-top2" src="/icons/office.png"/></a></p>
            <p><a href="/office">Office</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/sanitary"> <img class="card-img-top2" src="/icons/sanitary.jpg"/></a></p>
            <p><a href="/sanitary">Sanitary</a></p>
        </div>

        <div class="items_4th card">
            <p><a href="/"> <img class="card-img-top2" src="/icons/meshmall_advertures.svg"/></a></p>
            <p><a href="/">MeshMall Advertures</a></p>
        </div>

        
      </div>
  </div>


   <!--CONTAINER FITH 
        
        FEATURED CATEGORIES ICONS-->

        <div id="container_5th">
            <p class="container5th_text">Quick Search <span>||</span>Hot Deals <span>||</span> MeshMall</p>
            <div id="indexsearch">
                <div class="items_5th card">
                    <p><a href="#"><img class="card-img-top3" src="/assests/best_price.jpg"></a></p>
                    <p><a href="#">Best Price</a></p>
                </div>

                <div class="items_5th card">
                    <p><a href="#"><img class="card-img-top3" src="/assests/new.jpg"></a></p>
                    <p><a href="#">New Items</a></p>
                </div>

                <div class="items_5th card">
                    <p><a href="#"><img class="card-img-top3" src="/assests/starRating.png"></a></p>
                    <p><a href="#">Top Rated Products</a></p>
                </div>

                <div class="items_5th card">
                    <p><a href="#"><img class="card-img-top3" src="/assests/topselling1.jpg"></a></p>
                    <p><a href="#">Top Selling Items</a></p>
                </div>

                <div class="items_5th card">
                    <p><a href="#"><img class="card-img-top3" src="/assests/global.jpg"></a></p>
                    <p><a href="#">Global Analysis</a></p>
                </div>

                <div class="items_5th card">
                    <p><a href="#"><img class="card-img-top3" src="/assests/meshmallGift.png"></a></p>
                    <p><a href="#">MeshMall Bonuses</a></p>
                </div>
            </div>
        </div>

    <script>
         $(document).ready(function()
        {
            $('.imgslider1:gt(0)').hide();
            setInterval(function() {
                $(".imgslider1:first-child").slideUp(3000).next(".imgslider1").slideDown(3000).end().appendTo("#show-case")
        }, 3000);
        

        $('.welcome-text:gt(0)').hide();
            setInterval(function() {
                $(".welcome-text:first-child").fadeOut(100).next(".welcome-text").fadeIn(3000).end().appendTo("#welcome")
        }, 3000);
        
        });
    </script>

    <script>
        function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
} 
    </script>

<%- include('_layouts/footer') -%>


