<%- include('../_layouts/adminheader') %>

<h2 class="page-title btn btn-block text-center btn-info"> <strong>Office items</strong></h2> <br>

<a href="/admin/office/add-office" class="btn btn-primary">Add a new Office item</a>
<br><br>

<% if (count > 0) { %>

<table class="table table-striped alignmiddle">

    <thead>
        <tr class="home">
            <th>Product</th>
            <th>Price</th>
            <th>Price_off</th>
            <th>Discount</th>
            <th>Category</th>
            <th>Seller</th>
            <th>Product Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% items.forEach(function(product){ %>
        <tr>
            <td><%= product.title %></td>
            <td>Ksh <%= product.price %></td>
            <td>Ksh <%= product.price_off %></td>
            <td>Ksh <%= product.discount %></td>
            <td><%= product.category %></td>
            <td><%= product.seller %></td>
            <td>
                <% if (product.image == "") { %>
                <img id="noimage" src="/images/noimage.png">
                <% } else {%>
                <img id="noimage" src="/product_images/<%= product._id %>/<%= product.image %>">
                <% }%>
            </td>
            <td><a href="/admin/office/edit-office/<%= product._id %>">Edit</a></td>
            <td><a class="confirmDeletion" href="/admin/office/delete-office/<%= product._id %>">Delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<% } else {%>
<h3 class="text-center">There are No Office Items</h3>
<% }%>

<%- include('../_layouts/adminfooter') %>